body {
    background-color: #F2EAE2;
    font-family: 'Montserrat', sans-serif;
}

.main-card {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.left-card {
    display: flex;
    width: 300px;
    height: auto;
}

img {
   max-width: 100%;
   height: auto;
   border-top-left-radius: 16px;
   border-bottom-left-radius: 16px;
}

.card-info {
    width: 300px;
    height: auto;
    padding: 10px;
    background-color: #FFFFFF;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

h1 {
    font-family: 'Fraunces', serif;
    color: #1C232B;
}


h4 {
    display: flex;
    align-items: center;
    text-decoration-line: line-through;
}

h3, p, h4 {
    color: #6C7289;
    font-weight: normal;
}

.prices-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    gap: 20px;
}

.listed-price {
    color: #3D8168;
}

button {
    background-color: #3D8168;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    padding: 15px 100px;
}

button:hover {
    background-color: #1C232B;
}

@media (max-width:768px) {
    .main-card {
    
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 0;
    }

    .left-card {
    flex: 1;
    display: flex;
    width: 320px;
    height: 200px;
}

img {
    max-width: 100%;
    flex-grow: 1;
    height: inherit;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
 }
 
.card-info {
    flex: 1;
    width: 300px;
    height: auto;
    padding: 10px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 0;
}
} 


.attribution {
    text-align: center;
    margin-top: 5%;
}

a {
    text-decoration: none;
}

a:hover {
    color: #3D8168;
}